body {
		margin: 0;
    font-size: 10pt;
    background-color: #F5EFE6;
    font-family: "Poppins", sans-serif;
}

.container {
	margin-bottom: 5em;
	overflow: auto;
}
.topnav {
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	background-color: #7895B2;
	overflow: hidden;
}

.textbox {
	display: flex;
	background-color: #E6D8C2;
	overflow: hidden;
	border-radius: 20px;
}
h1 {
	margin: 12px;
}
h2 {
	margin: 12px;
}
p {
  font-family: "Poppins", sans-serif;
	margin: 12px;
	font-size: 11pt
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.topnav li a {
	display: inline-block;
	float: left;
  font-family: "Poppins", sans-serif;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #AEBDCA;
	color: white;
	
}

.topnav a.active {
	background-color: #AEBDCA;
	color: white;
}

.footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
  font-family: "Poppins", sans-serif;
	background-color: #7895B2;
	color: white;
	width: 100%;
	text-align: center;
}
